user-els {
    display : inline-block;
	float : right;
	height: 2em;
}
.top-tree-search-content{
	display : inline-block;
}
.top-tree-search-btn{
	margin: 0 0 3px 5px;
}
..top-tree-search input{
	width:100px;
}