body {
    min-width: 1200px;
    background: #e7e8eb;
    overflow:auto;
}
.head_box{
	position: relative;
    background-color: #fff;
    border-top: 4px solid #44b549;
    border-bottom: 1px solid #d9dadc;
    height:40px;
    font-family: "Helvetica Neue","Hiragino Sans GB","Microsoft YaHei","\9ED1\4F53",Arial,sans-serif;
    color: #222;
    font-size: 24px;
}
a{
    text-decoration: none;
    outline: 0;
}
a:hover{
    text-decoration: none;
}
.wechat-body .workspace-wrapper .col-slide-menu,.wechat-body .workspace-wrapper .col-slide-main{
    display: table-cell;
}
.wechat-body{
    width: 1280px;
    margin-left: auto;
    margin-right: auto;
    padding: 10px 0px 14px 0px;
    line-height: 1.6;
    font-family: "Helvetica Neue","Hiragino Sans GB","Microsoft YaHei","΢���ź�","����",Arial,sans-serif;
    color: #222;
    font-size: 14px;
}
.workspace-wrapper{
    width: 100%;
    min-height: 650px;
    border: 1px solid #d9dadc;
    background-color: #fff
}
 .ui_tips {
    padding: 18px 20px 8px 41px;
    border: none;
    border-radius: 0;
    background: #f4f5f9;
    font-size: 14px;
    line-height: 1.6;
    margin: 5px 0;
    position: relative;
    color: #626f7b;
}