<div class="sms-head"></div>
<div class="sms-body">
    <div class="workspace-wrapper">
        <div class="col-slide-menu">
            <div class="menu-bar">
                <dl class="menu" style="border-top: 0">
                    <dt class="menu-title">
                        <i class="dt-title-function sms"></i>
                        <span lang="{text:function}"></span>
                    </dt>
                    <dd class="menu-item" id="sms_config">
                        <a lang="{text:sms_config}">短信配置</a>
                    </dd>
                </dl>
            </div>
        </div>
        <div class="col-slide-main" id="col_slide_main"></div>
    </div>
</div>