<div class="cs-col-slide-main-hd">
    <h2 lang="{text:qr_setting}"></h2>
</div>
<div class="cs-col-slie-main-bd">
    <div class="">
        <div class="menu-edit-area-wrapper">
            <p class="menu-edit-tips"></p>
            <div class="cs-inner-edit-box">
                <div class="cs-inner-edit-box-bd">
                    <div class="cs-inner-slide">
                        <div class="cs-inner-slide-bd">
                            <div class="menu-manage scroll">
                                <div class="menu-title-bar light" id="cs_title_bar">
                                    <h4 lang="{text:site_list}"></h4>
                                </div>
                                <div class="inner-menu-box" id="inner_menu_box">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="cs-inner-main">
                        <div class="cs-inner-main-bd">
                            <div class="menu-action-settings">
                                <div class="menu-title-bar light">
                                    <h4 lang="{text:get_ssid_qrcode}"></h4>
                                </div>
                                <div class="action-content init" id="action_init" style="display: none">
                                    <p class="action-tips" lang="{text:please_tip}"></p>
                                    <a style="display: none">
                                        <i class="icon-menu-action send"></i>
                                        <strong lang="{text:send_message}"></strong>
                                    </a>
                                    <a id="jump_to_url">
                                        <i class="icon-menu-action url"></i>
                                        <strong lang="{text:create_qr_code}"></strong>
                                    </a>
                                </div>
                                <div class="action-content qr-code-sended" id="qr_code_sended">
                                    <p class="action-tips specific-tip" id="site_name" ></p>
                                    <p class="action-tips" lang="{text:qr_code_load_tip}"></p>
                                    <img style="width: 300px;height:300px" />
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
