<li class="keywords_rule_item open" >

    <div class="keywords_rule_hd no_extra Js_detail_switch"  style="-webkit-transition: all, 1s;">
        <div class="info">
            <em class="keywords_rule_num">新规则</em>
            <strong class="keywords_rule_name"></strong>
        </div>
        <div class="opr">
            <a href="javascript:void(0);" class="icon_dropdown_switch highlight">收起</a>
        </div>
    </div>


    <div class="keywords_rule_bd keywords_rule_overview">
        <div class="keywords_info keywords">
            <strong class="keywords_info_title" style="font-weight: bold;">关键词</strong>
            <div class="keywords_info_detail">
                <ul class="overview_keywords_list" >

                </ul>
            </div>
        </div>
        <!--<div class="keywords_info reply">
            <strong class="keywords_info_title">回复</strong>
            <div class="keywords_info_detail">
                <p class="reply_info">
                    <em class="num">0</em>条（                    <em data-type="1" class="num Js_reply_cnt2">0</em>条文字，                    <em data-type="2" class="num Js_reply_cnt2">0</em>条图片，                    <em data-type="3" class="num Js_reply_cnt2">0</em>条语音，                    <em data-type="4" class="num Js_reply_cnt2">0</em>条视频，                                        <em data-type="5" class="num Js_reply_cnt2">0</em>条图文）                                        </p>
            </div>
        </div>-->
    </div>


    <div class="keywords_rule_bd keywords_rule_detail">

        <div class="rule_name_area">
            <div class="frm_control_group">
                <label for="" class="frm_label">规则名</label>
                <div class="frm_controls">
                    <span class="frm_input_box"><input type="text" class="frm_input"  value=""></span>
                    <p class="frm_tips">规则名最多60个字</p>
                </div>
            </div>
        </div>


        <div class="keywords_tap keywords">
            <div class="keywords_tap_hd">
                <div class="info">
                    <h4>关键字</h4>
                </div>
                <div class="opr">
                    <a href="javascript:;" class="keywords_mode_switch Js_keyword_mode all_match" >已全匹配</a>

                    <a href="javascript:;" class="Js_keyword_add" style="margin-left: 30px">添加关键字</a>

                </div>
            </div>
            <div class="keywords_tap_bd">
                <ul class="keywords_list">

                </ul>
            </div>
        </div>


        <div class="keywords_tap reply">
            <div class="keywords_tap_hd">
                <div class="info">
                    <h4>回复</h4>
                </div>
                <!--<div class="opr">-->
                    <!--<label for="Js_replyAll_0" class="frm_checkbox_label">-->
                        <!--<i class="icon_checkbox"></i>-->
                        <!--<input id="Js_replyAll_0" type="checkbox" class="frm_checkbox Js_reply_all">-->
                        <!--回复全部                        </label>-->
                <!--</div>-->
            </div>
            <div class="keywords_tap_bd">

                <ul class="media_type_list">
                    <li class="tab_text" data-tooltip="文字"><a href="javascript:;" data-type="1" data-id="0" class="Js_reply_add">&nbsp;<i class="icon_msg_sender"></i></a></li>
                    <!--<li class="tab_img" data-tooltip="图片"><a href="javascript:;" data-type="2" data-id="0" class="Js_reply_add">&nbsp;<i class="icon_msg_sender"></i></a></li>-->
                    <!--<li class="tab_audio" data-tooltip="语音"><a href="javascript:;" data-type="3" data-id="0" class="Js_reply_add">&nbsp;<i class="icon_msg_sender"></i></a></li>-->
                    <!--<li class="tab_video" data-tooltip="视频"><a href="javascript:;" data-type="7" data-id="0" class="Js_reply_add">&nbsp;<i class="icon_msg_sender"></i></a></li>-->
                    <li class="tab_appmsg" data-tooltip="图文"><a href="javascript:;" data-type="5" data-id="0" class="Js_reply_add">&nbsp;<i class="icon_msg_sender"></i></a></li>
                </ul>


                <div class="keywords_list" >
                    <div class="tab_content text_content" style="display: none">
                        <div class="js_textArea inner no_extra">
                            <div class="emotion_editor">
                                <div class="edit_area js_editorArea text_editor" contenteditable="true" style="overflow-y: auto; overflow-x: hidden;"></div>

                            </div>
                        </div>
                    </div>

                    <div class="tab_content model_content" style="display: none">
                        <div class="js_appmsgArea inner " style="border: none"></div>
                    </div>

                </div>
            </div>
        </div>
    </div>


    <div class="keywords_rule_ft">


        <div class="opr">
            <a class="btn btn_primary Js_rule_save">保存</a>
            <a class="btn btn_default Js_rule_del">删除</a>
        </div>
    </div>
</li>