<div class="wechat-head"></div>
<div class="wechat-body">
    <div class="workspace-wrapper">
        <div class="col-slide-menu">
            <div class="menu-bar">
                <dl class="menu" style="border-top:0 ">
                    <dt class="menu-title">
                        <i class="dt-title-function"></i>
                        <span lang="{text:function}"></span>
                    </dt>
                    <dd class="menu-item" id="auto_reply">
                        <a lang="{text:auto_reply}"></a>
                    </dd>
                    <dd class="menu-item" id="custom_menu">
                        <a lang="{text:custom_menu}"></a>
                    </dd>
                </dl>
                <dl class="menu">
                    <dt class="menu-title">
                        <i class="dt-title-management"></i>
                        <span lang="{text:management}"></span>
                    </dt>
                    <dd class="menu-item" id="qr_setting">
                        <a lang="{text:qr_setting}"></a>
                    </dd>
                    <dd class="menu-item" id="material_mg">
                        <a lang="{text:mater_mg}">素材管理</a>
                    </dd>
                </dl>
                <dl class="menu">
                    <dt class="menu-title">
                        <i class="dt-title-statistics"></i>
                        <span lang="{text:statistics}"></span>
                    </dt>
                    <dd class="menu-item" id="user_analysis">
                        <a lang="{text:user_analysis}">用户分析</a>
                    </dd>
                </dl> <dl class="menu">
                <dt class="menu-title">
                    <i class="dt-title-config"></i>
                    <span lang="{text:config}"></span>
                </dt>
                <dd class="menu-item" id="wx_config">
                    <a lang="{text:wechat_config}">微信配置</a>
                </dd>
            </dl>

            </div>
        </div>
        <div class="col-slide-main" id="col_slide_main"></div>
    </div>
</div>