<div class="cs-col-slide-main-hd">
    <h2 lang="{text:user_analysis}"></h2>
</div>
<div class="cs-col-slie-main-bd">
    <div class="">
        <div class="menu-edit-area-wrapper">
            <p class="menu-edit-tips"></p>
            <div class="cs-inner-edit-box">
                <div class="cs-inner-edit-box-bd">
                    <div class="cs-inner-slide">
                        <div class="cs-inner-slide-bd">
                            <div class="menu-manage scroll">
                                <div class="menu-title-bar light" id="cs_title_bar">
                                    <h4 lang="{text:net_list}"></h4>
                                </div>
                                <div class="inner-menu-box" id="inner_menu_box">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="cs-inner-main">
                        <div class="cs-inner-main-bd">
                            <div class="menu-action-settings">
                                <div class="menu-title-bar light">
                                    <h4 lang="{text:statistics}"></h4>
                                </div>
                                <div class="action-content qr-code-sended" id="user_table">
                                    <div id="content-toolbar" style="display: none">
                                        <div id="site_title"><a><strong></strong></a></div>
                                        <div class="data_time_pick">
                                            <span class="frm-input-box"><input id="start_time" class="frm-input" /></span>
                                            <span lang="text:to"></span>
                                            <span class="frm-input-box"><input id="end_time" CLASS="frm-input"/></span>
                                        </div>
                                        <div class="query_btn_row">
                                            <a class="btn btn-primary" lang="text:query"></a>
                                        </div>
                                    </div>
                                    <div id="content-table"></div>
                                    <div id="content-paging"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>