/*body{
    height: 877px;
    width: 75%; !important
    margin: 0px auto; !important
}
.container{
    *//*display: block;*//*
    *//*width: 1024px;*//*
    height: 100%;
    margin: 0px auto;
}*/
.weight{
    margin: 15px;
    /*float: left;*/
    /*display: inline-block;*/
    /*margin-bottom: 30px;*/
    /*margin-right: 20px;*/
    /*border-radius: 6px;*/
    background-color:#ffffff;
    /*border:solid 1px #7E7E7E;*/
    /*width: 280px;*/
    box-shadow: 2px 2px 4px #B0B1B5;
}
.weight-toolbar{
    width: 100%;
    display: inline-block;
    /*margin: 0;*/
    padding: 7px 0px;
    /*border-radius: 6px 6px 0 0;*/
    /*background-color: #d1cbc7;*/
}
.weight-toolbar-left{
    float: left;
    margin-left: 10px;
}

.weight-toolbar-right{
    float: right;
    margin-right: 10px;
}

.weight-toolbar-title{
    color:rgb(104, 104, 104) ;
}
.toolbar-button{
    /*display: none;*/
    float: right;
    width: 18px;
    height: 18px;
    margin-right: 4px;
    /*background-color: gray;*/
}
.weight-content-container{
    min-height: 90px;
}
.weight-toolbar-zoomout{
    cursor: pointer;
    background-image: url("./maximise.png") ;
    background-repeat: no-repeat;
}
.weight-toolbar-refresh{
    cursor: pointer;
    background-image: url("./refresh.png");
    background-repeat: no-repeat;
}