.mask-wrapper,  .img-mask,   .mask-bg, .mask-img {
    position: absolute;
    display: block;
    width: 100px;
    height: 80px; 
}

.mask-wrapper {
    top: 0px;
    left: 5px;
    overflow: hidden;
    display:none;
}

.mask-img {
    background: transparent url(../images/saledonw.png) no-repeat 50% 10px;
    background-size: 85px;
}
.mask-qrimg {
	background: transparent url(../images/qrcode.png) no-repeat 50% 12px;
    background-size: 25px;
    height: 35px;
	width: 35px;
	position: absolute;
	top: 40px;
	right: 5px;
}
.mask-left{
	background: transparent url(../images/left_green.png) no-repeat;
    background-size: 38px;
    width: 38px;
    height: 38px;
    display: block;
    cursor:pointer;

}
.mask-right{
	background: transparent url(../images/right_green.png) no-repeat;
    background-size: 38px;
    width: 38px;
    height: 38px;
    display: block;
    cursor:pointer;

}
.wclose{
	background: transparent url(../images/close.png) no-repeat;
    background-size: 38px;
    width: 38px;
    height: 38px;
    display: block;
    cursor:pointer;

}
.onem{
	width: 18px;
    height: 18px;
    line-height: 18px;
    border-radius: 15px;
    font-size: 14px;
    background: #CDC9C9;
    color: white;
    display: inline-block;
    float: left;
    text-align: center;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
	
}
.fivem{
	
	width: 18px;
    height: 18px;
    line-height: 18px;
    border-radius: 15px;
    font-size: 14px;
    background: #DAA520;
    color: white;
    display: inline-block;
    float: left;
    text-align: center;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    margin-left: 5px;
}
.soldout{
	position: absolute;
    display: inline-block;
    width: 100%;
    left: 0px;
    bottom: 0px;
    font-size: 14px;
    color: red;
}

.delete_cid{
	
	background: transparent url(../images/error.png) no-repeat 50% 0px;
    background-size: 25px;
    height: 25px;
    width: 25px;
    position: relative;
    top: 310px;
    left: 380px;
    display: inline-block;
	
}
.delete_cid_tp{
	
	background: transparent url(../images/error_tp.png) no-repeat 50% 0px;
    background-size: 25px;
    height: 25px;
    width: 25px;
    position: relative;
    top: 310px;
    left: 380px;
    display: inline-block;
    cursor: pointer;
	
}
.span_config{
	width: 16px;
    height: 16px;
    line-height: 16px;
    border-radius: 15px;
    font-size: 12px;
    background: #28b5d6;
    color: white;
    display: inline-block;
    float: left;
    text-align: center;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    z-index: 9999;
}
.div_config{
	    width: 30px;
    height: 80px;
    margin-top: -60px;
    margin-left: 70%;
        position: inherit;
}