<div class="page_nav">
    <a class="icon_goback">返回上一层</a>
    <a>图文消息</a>
    / 新建图文消息
</div>
<div class="page-content">
    <div class="media_preview_area">

    </div>

    <div class="media_edit_area">
        <div id="js_appmsg_editor">
        </div>
    </div>
    <div class="tool_area">
        <div class="tool_bar border tc">
            <span id="js_submit" class="btn btn_input btn_primary"><button>保存</button></span>
            <!--<span id="js_preview" class="btn btn_input btn_default"><button>预览</button></span>-->
            <span id="js_reset" class="btn btn_input btn_default"><button>重置</button></span>
        </div>
    </div>
</div>