<div class="sub_title_bar">
    <div class="info">
        <h3 id="page_title">
            图文消息列表(共<span id="js_listCount"></span>个)
        </h3>
    </div>
    <br/>
    <div class="appmsg_col">
        <span class="create_access">
            <i class="icon36_common add_gray"></i>
            <a>
                <i class="icon_appmsg_create single"></i><strong>单图文消息</strong>
            </a>
            <a>
                <i class="icon_appmsg_create multi"></i><strong>多图文消息</strong>
            </a>
        </span>
    </div>

</div>
<div class="appmsg_list" id="appmsgList">
    <div class="appmsg_col tj_item">
        <div class="inner" id="appmsgList1">
        </div>
    </div>
    &nbsp;
    <div class="appmsg_col tj_item">
        <div class="inner" id="appmsgList2">

        </div>
    </div>
    &nbsp;
    <div class="appmsg_col">
        <div class="inner" id="appmsgList3">
        </div>
    </div>
</div>
<!--
<div class="tool_area">
    <div class="pagination_wrp pageNavigator" style="display: none;">
        <div class="pagination" id="wxPagebar_1412910941343">
                    <span class="page_nav_area">
                        <a href="javascript:void(0);" class="btn page_first" style="display: none;"></a>
                        <a href="javascript:void(0);" class="btn page_prev" style="display: none;"><i class="arrow"></i></a>

                            <span class="page_num">
                                <label>1</label>
                                <span class="num_gap">/</span>
                                <label>1</label>
                            </span>

                        <a href="javascript:void(0);" class="btn page_next" style="display: none;"><i class="arrow"></i></a>
                        <a href="javascript:void(0);" class="btn page_last" style="display: none;"></a>
                    </span>
        </div>
    </div>
</div>-->
