<div class="col_main">

    <div class="main_hd">
        <h2>素材管理</h2>

        <div class="title_tab" id="topTab">
            <ul class="tab_navs title_tab" data-index="0">
                <li data-index="0" class="tab_nav first js_top  selected" data-id="media10">
                    <a id="tab_1">图文消息</a>
                </li>

                <!--<li data-index="1" class="tab_nav  js_top " data-id="media2">
                    <a id="tab_2">文本</a>
                </li>

                <li data-index="2" class="tab_nav  js_top " data-id="media2">
                    <a id="tab_3">图片</a>
                </li>

                <li data-index="3" class="tab_nav  js_top " data-id="media3">
                    <a id="tab_4">语音</a>
                </li>

                <li data-index="4" class="tab_nav  js_top " data-id="media15">
                    <a id="tab_5">视频</a>
                </li>-->

            </ul>
        </div>
    </div>
    <div class="main_bd">

    </div>


</div>